#infobaskball {
background-color:orange;
text-align: left
}
#aboutbasketball{
font-size:20px;
}
#historybasketball{
font-size:20px;
}
#rulesbasketball{
font-size:20px;
}
#teamsbasketball {
font-size:20px;
}
#infosoccer {
background-color:darkred;
text-align: left
}
#historysoccer{
font-size:20px;
}
#rulessoccer{
font-size:20px;
}
#teamssoccer{
font-size:20px;
}
#aboutsoccer {
font-size:20px;
}
